@tailwind base;
@tailwind components;
@tailwind utilities;
.xl.glorious-button-orange, .xl.glorious-button-blue, .xl.glorious-button-gray, .xl.glorious-button-red, .xl.glorious-button-primary {
  @apply py-2.5;
}
.xl.glorious-button-orange > div.loading > div > div, .xl.glorious-button-blue > div.loading > div > div, .xl.glorious-button-gray > div.loading > div > div, .xl.glorious-button-red > div.loading > div > div, .xl.glorious-button-primary > div.loading > div > div {
  @apply w-[24px] !important;
}
.lg.glorious-button-orange, .lg.glorious-button-blue, .lg.glorious-button-gray, .lg.glorious-button-red, .lg.glorious-button-primary {
  @apply py-2;
}
.lg.glorious-button-orange > div.loading > div > div, .lg.glorious-button-blue > div.loading > div > div, .lg.glorious-button-gray > div.loading > div > div, .lg.glorious-button-red > div.loading > div > div, .lg.glorious-button-primary > div.loading > div > div {
  @apply w-[24px] !important;
}
.md.glorious-button-orange, .md.glorious-button-blue, .md.glorious-button-gray, .md.glorious-button-red, .md.glorious-button-primary {
  @apply py-1.5;
}
.md.glorious-button-orange > div.loading > div > div, .md.glorious-button-blue > div.loading > div > div, .md.glorious-button-gray > div.loading > div > div, .md.glorious-button-red > div.loading > div > div, .md.glorious-button-primary > div.loading > div > div {
  @apply w-[24px] !important;
}
.sm.glorious-button-orange, .sm.glorious-button-blue, .sm.glorious-button-gray, .sm.glorious-button-red, .sm.glorious-button-primary {
  @apply py-1;
}
.sm.glorious-button-orange > div.loading > div > div, .sm.glorious-button-blue > div.loading > div > div, .sm.glorious-button-gray > div.loading > div > div, .sm.glorious-button-red > div.loading > div > div, .sm.glorious-button-primary > div.loading > div > div {
  @apply w-[24px] !important;
}
.xsm.glorious-button-orange, .xsm.glorious-button-blue, .xsm.glorious-button-gray, .xsm.glorious-button-red, .xsm.glorious-button-primary {
  @apply py-0.5;
}
.xsm.glorious-button-orange > div.loading > div > div, .xsm.glorious-button-blue > div.loading > div > div, .xsm.glorious-button-gray > div.loading > div > div, .xsm.glorious-button-red > div.loading > div > div, .xsm.glorious-button-primary > div.loading > div > div {
  @apply w-[24px] !important;
}

.outline.glorious-button-orange, .outline.glorious-button-blue, .outline.glorious-button-gray, .outline.glorious-button-red, .outline.glorious-button-primary {
  @apply bg-transparent border outline-none;
}

.glorious-button-orange > div.loading, .glorious-button-blue > div.loading, .glorious-button-gray > div.loading, .glorious-button-red > div.loading, .glorious-button-primary > div.loading {
  @apply flex justify-center items-center;
}

.glorious-button-primary {
  @apply bg-green-700 hover:bg-green-600 rounded-md text-white border-green-500 px-3;
}
.glorious-button-primary.outline {
  @apply text-gray-500 hover:bg-green-100;
}
.glorious-button-primary:disabled {
  @apply bg-green-300 cursor-not-allowed;
}

.glorious-button-red {
  @apply bg-red-500 hover:bg-red-600 rounded-md text-white border-red-500 px-3;
}
.glorious-button-red.outline {
  @apply text-gray-500 hover:bg-red-100;
}
.glorious-button-red:disabled {
  @apply bg-red-300 cursor-not-allowed;
}

.glorious-button-gray {
  @apply bg-gray-500 hover:bg-gray-600 rounded-md text-white border-gray-500 px-3;
}
.glorious-button-gray.outline {
  @apply text-gray-500 hover:bg-gray-100;
}
.glorious-button-gray:disabled {
  @apply bg-gray-300 cursor-not-allowed;
}

.glorious-button-blue {
  @apply bg-blue-500 hover:bg-blue-600 rounded-md text-white border-blue-500 px-3;
}
.glorious-button-blue.outline {
  @apply text-gray-500 hover:bg-blue-100;
}
.glorious-button-blue:disabled {
  @apply bg-blue-300 cursor-not-allowed;
}

.glorious-button-orange {
  @apply bg-orange-500 hover:bg-orange-600 rounded-md text-white border-orange-500 px-3;
}
.glorious-button-orange.outline {
  @apply text-gray-500 hover:bg-orange-100;
}
.glorious-button-orange:disabled {
  @apply bg-orange-300 cursor-not-allowed;
}

.xl.glorious-input-orange, .xl.glorious-input-blue, .xl.glorious-input-gray, .xl.glorious-input-red, .xl.glorious-input-primary {
  @apply py-2.5;
}
.lg.glorious-input-orange, .lg.glorious-input-blue, .lg.glorious-input-gray, .lg.glorious-input-red, .lg.glorious-input-primary {
  @apply py-2;
}
.md.glorious-input-orange, .md.glorious-input-blue, .md.glorious-input-gray, .md.glorious-input-red, .md.glorious-input-primary {
  @apply py-1.5;
}
.sm.glorious-input-orange, .sm.glorious-input-blue, .sm.glorious-input-gray, .sm.glorious-input-red, .sm.glorious-input-primary {
  @apply py-1;
}
.xsm.glorious-input-orange, .xsm.glorious-input-blue, .xsm.glorious-input-gray, .xsm.glorious-input-red, .xsm.glorious-input-primary {
  @apply py-0.5;
}

.glorious-select-orange:focus-visible, .glorious-select-blue:focus-visible, .glorious-select-gray:focus-visible, .glorious-select-red:focus-visible, .glorious-select-primary:focus-visible, .glorious-textarea-orange:focus-visible, .glorious-textarea-blue:focus-visible, .glorious-textarea-gray:focus-visible, .glorious-textarea-red:focus-visible, .glorious-textarea-primary:focus-visible, .glorious-input-orange:focus-visible, .glorious-input-blue:focus-visible, .glorious-input-gray:focus-visible, .glorious-input-red:focus-visible, .glorious-input-primary:focus-visible {
  @apply outline-none ring-2;
}

.glorious-input-primary {
  @apply rounded-md ring-1 ring-green-500 px-3;
}
.glorious-input-primary:disabled {
  @apply bg-green-300 cursor-not-allowed;
}

.glorious-input-red {
  @apply rounded-md ring-1 ring-red-500 px-3;
}
.glorious-input-red:disabled {
  @apply cursor-not-allowed;
}

.glorious-input-gray {
  @apply rounded-md ring-1 ring-gray-500 px-3;
}
.glorious-input-gray:disabled {
  @apply cursor-not-allowed;
}

.glorious-input-blue {
  @apply rounded-md ring-1 ring-blue-500 px-3;
}
.glorious-input-blue:disabled {
  @apply cursor-not-allowed;
}

.glorious-input-orange {
  @apply rounded-md ring-1 ring-orange-500 px-3;
}
.glorious-input-orange:disabled {
  @apply cursor-not-allowed;
}

.glorious-input {
  @apply relative w-full;
}
.glorious-input > input {
  @apply w-full;
}
.glorious-input > input::placeholder {
  @apply text-[14px];
}
.glorious-input.icon-xl > input {
  @apply rtl:pr-9 ltr:pl-9;
}
.glorious-input.icon-lg > input {
  @apply rtl:pr-9 ltr:pl-8;
}
.glorious-input.icon-md > input {
  @apply rtl:pr-9 ltr:pl-8;
}
.glorious-input.icon-sm > input {
  @apply rtl:pr-8 ltr:pl-8;
}
.glorious-input.icon-xsm > input {
  @apply rtl:pr-8 ltr:pl-7;
}

.glorious-input-icon {
  @apply absolute h-max top-0 bottom-0 my-auto rtl:right-1 ltr:left-1;
}

/* ----------------------------------------------- TAG */
.glorious-input-tag {
  @apply mt-3;
}
.glorious-input-tag > div {
  @apply bg-green-500 px-1 rounded text-white flex items-center gap-2 cursor-pointer;
}

.xl.glorious-textarea-orange, .xl.glorious-textarea-blue, .xl.glorious-textarea-gray, .xl.glorious-textarea-red, .xl.glorious-textarea-primary {
  @apply py-2.5;
}
.lg.glorious-textarea-orange, .lg.glorious-textarea-blue, .lg.glorious-textarea-gray, .lg.glorious-textarea-red, .lg.glorious-textarea-primary {
  @apply py-2;
}
.md.glorious-textarea-orange, .md.glorious-textarea-blue, .md.glorious-textarea-gray, .md.glorious-textarea-red, .md.glorious-textarea-primary {
  @apply py-1.5;
}
.sm.glorious-textarea-orange, .sm.glorious-textarea-blue, .sm.glorious-textarea-gray, .sm.glorious-textarea-red, .sm.glorious-textarea-primary {
  @apply py-1;
}
.xsm.glorious-textarea-orange, .xsm.glorious-textarea-blue, .xsm.glorious-textarea-gray, .xsm.glorious-textarea-red, .xsm.glorious-textarea-primary {
  @apply py-0.5;
}

.glorious-select-orange:focus-visible, .glorious-select-blue:focus-visible, .glorious-select-gray:focus-visible, .glorious-select-red:focus-visible, .glorious-select-primary:focus-visible, .glorious-textarea-orange:focus-visible, .glorious-textarea-blue:focus-visible, .glorious-textarea-gray:focus-visible, .glorious-textarea-red:focus-visible, .glorious-textarea-primary:focus-visible, .glorious-input-primary:focus-visible, .glorious-input-red:focus-visible, .glorious-input-gray:focus-visible, .glorious-input-blue:focus-visible, .glorious-input-orange:focus-visible {
  @apply outline-none ring-2;
}

.glorious-textarea-primary {
  @apply rounded-md ring-1 ring-green-500 px-3;
}
.glorious-textarea-primary:disabled {
  @apply bg-green-300 cursor-not-allowed;
}

.glorious-textarea-red {
  @apply rounded-md ring-1 ring-red-500 px-3;
}
.glorious-textarea-red:disabled {
  @apply cursor-not-allowed;
}

.glorious-textarea-gray {
  @apply rounded-md ring-1 ring-gray-500 px-3;
}
.glorious-textarea-gray:disabled {
  @apply cursor-not-allowed;
}

.glorious-textarea-blue {
  @apply rounded-md ring-1 ring-blue-500 px-3;
}
.glorious-textarea-blue:disabled {
  @apply cursor-not-allowed;
}

.glorious-textarea-orange {
  @apply rounded-md ring-1 ring-orange-500 px-3;
}
.glorious-textarea-orange:disabled {
  @apply cursor-not-allowed;
}

.glorious-textarea {
  @apply relative w-full;
}
.glorious-textarea > textarea {
  @apply w-full;
}
.glorious-textarea > textarea::placeholder {
  @apply text-[14px];
}

.glorious-file-orange > div.xl.placeholder, .glorious-file-blue > div.xl.placeholder, .glorious-file-gray > div.xl.placeholder, .glorious-file-red > div.xl.placeholder, .glorious-file-primary > div.xl.placeholder {
  @apply py-2.5;
}
.glorious-file-orange > div.lg.placeholder, .glorious-file-blue > div.lg.placeholder, .glorious-file-gray > div.lg.placeholder, .glorious-file-red > div.lg.placeholder, .glorious-file-primary > div.lg.placeholder {
  @apply py-2;
}
.glorious-file-orange > div.md.placeholder, .glorious-file-blue > div.md.placeholder, .glorious-file-gray > div.md.placeholder, .glorious-file-red > div.md.placeholder, .glorious-file-primary > div.md.placeholder {
  @apply py-1.5;
}
.glorious-file-orange > div.sm.placeholder, .glorious-file-blue > div.sm.placeholder, .glorious-file-gray > div.sm.placeholder, .glorious-file-red > div.sm.placeholder, .glorious-file-primary > div.sm.placeholder {
  @apply py-1;
}
.glorious-file-orange > div.xsm.placeholder, .glorious-file-blue > div.xsm.placeholder, .glorious-file-gray > div.xsm.placeholder, .glorious-file-red > div.xsm.placeholder, .glorious-file-primary > div.xsm.placeholder {
  @apply py-0.5;
}

.glorious-file-primary {
  @apply rounded-md ring-1 ring-green-500 overflow-hidden cursor-pointer relative;
}
.glorious-file-primary > div.placeholder {
  @apply bg-green-500 text-white px-3 w-max;
}
.glorious-file-primary > div:last-child {
  @apply absolute left-3 hidden;
}

.glorious-file-red {
  @apply rounded-md ring-1 ring-red-500 px-3 cursor-pointer relative;
}
.glorious-file-red > div.placeholder {
  @apply bg-green-500 text-white px-3 w-max;
}
.glorious-file-red > div:last-child {
  @apply absolute left-3;
}

.glorious-file-gray {
  @apply rounded-md ring-1 ring-gray-500 px-3 cursor-pointer relative;
}
.glorious-file-gray > div.placeholder {
  @apply bg-green-500 text-white px-3 w-max;
}
.glorious-file-gray > div:last-child {
  @apply absolute left-3;
}

.glorious-file-blue {
  @apply rounded-md ring-1 ring-blue-500 px-3 cursor-pointer relative;
}
.glorious-file-blue > div.placeholder {
  @apply bg-green-500 text-white px-3 w-max;
}
.glorious-file-blue > div:last-child {
  @apply absolute left-3;
}

.glorious-file-orange {
  @apply rounded-md ring-1 ring-orange-500 px-3 cursor-pointer relative;
}
.glorious-file-orange > div.placeholder {
  @apply bg-green-500 text-white px-3 w-max;
}
.glorious-file-orange > div:last-child {
  @apply absolute left-3;
}

.glorious-modal {
  @apply fixed bg-white md:top-[15%] z-50 right-0 left-0 mx-auto p-3 md:rounded-md rounded-t-md md:bottom-0 bottom-0 overflow-y-auto;
}
.glorious-modal.size-full {
  @apply w-full h-full top-0 rounded-none;
}
.glorious-modal.size-xl {
  @apply md:w-[70%] w-full md:h-max max-h-[70%];
}
.glorious-modal.size-lg {
  @apply md:w-[60%] w-full md:h-max max-h-[70%];
}
.glorious-modal.size-md {
  @apply md:w-[50%] w-full md:h-max max-h-[70%];
}
.glorious-modal.size-sm {
  @apply lg:w-[25%] md:w-[35%] w-full md:h-max max-h-[70%];
}
.glorious-modal.close {
  @apply hidden;
}
.glorious-modal.open {
  animation: animation-mobile 0.3s normal forwards;
}
@screen md {
  .glorious-modal.open {
    animation: animation-opacity 0.2s normal forwards;
  }
}
@keyframes animation-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation-mobile {
  to {
    bottom: 0;
  }
}

.glorious-tab {
  @apply flex justify-between bg-green-100 px-3 py-2 rounded-lg gap-3 overflow-y-auto w-full shadow-md;
}
.glorious-tab > div > button {
  @apply text-gray-700 text-[14px] hover:bg-green-200 hover:text-gray-800 cursor-pointer px-2 py-1 rounded-lg;
}
.glorious-tab > div > button.active {
  @apply font-bold text-white bg-green-700;
}

.xl.glorious-select-orange, .xl.glorious-select-blue, .xl.glorious-select-gray, .xl.glorious-select-red, .xl.glorious-select-primary {
  @apply py-[0.657rem];
}
.lg.glorious-select-orange, .lg.glorious-select-blue, .lg.glorious-select-gray, .lg.glorious-select-red, .lg.glorious-select-primary {
  @apply py-[0.532rem];
}
.md.glorious-select-orange, .md.glorious-select-blue, .md.glorious-select-gray, .md.glorious-select-red, .md.glorious-select-primary {
  @apply py-[0.407rem];
}
.sm.glorious-select-orange, .sm.glorious-select-blue, .sm.glorious-select-gray, .sm.glorious-select-red, .sm.glorious-select-primary {
  @apply py-[0.282rem];
}
.xsm.glorious-select-orange, .xsm.glorious-select-blue, .xsm.glorious-select-gray, .xsm.glorious-select-red, .xsm.glorious-select-primary {
  @apply py-[0.157rem];
}

.glorious-select-orange:focus-visible, .glorious-select-blue:focus-visible, .glorious-select-gray:focus-visible, .glorious-select-red:focus-visible, .glorious-select-primary:focus-visible, .glorious-input-primary:focus-visible, .glorious-input-red:focus-visible, .glorious-input-gray:focus-visible, .glorious-input-blue:focus-visible, .glorious-input-orange:focus-visible, .glorious-textarea-primary:focus-visible, .glorious-textarea-red:focus-visible, .glorious-textarea-gray:focus-visible, .glorious-textarea-blue:focus-visible, .glorious-textarea-orange:focus-visible {
  @apply outline-none ring-2;
}

.glorious-select-primary {
  @apply rounded-md ring-1 ring-green-500 px-3 text-gray-500 text-[14px];
}
.glorious-select-primary:disabled {
  @apply cursor-not-allowed;
}

.glorious-select-red {
  @apply rounded-md ring-1 ring-red-500 px-3;
}
.glorious-select-red:disabled {
  @apply cursor-not-allowed;
}

.glorious-select-gray {
  @apply rounded-md ring-1 ring-gray-500 px-3;
}
.glorious-select-gray:disabled {
  @apply cursor-not-allowed;
}

.glorious-select-blue {
  @apply rounded-md ring-1 ring-blue-500 px-3;
}
.glorious-select-blue:disabled {
  @apply cursor-not-allowed;
}

.glorious-select-orange {
  @apply rounded-md ring-1 ring-orange-500 px-3;
}
.glorious-select-orange:disabled {
  @apply cursor-not-allowed;
}

.glorious-dropdown {
  @apply relative;
}
.glorious-dropdown > div:last-child {
  @apply hidden;
}
.glorious-dropdown > div:first-child {
  @apply relative;
}
.glorious-dropdown > div:first-child > button {
  @apply z-[30] w-5 relative;
}
.glorious-dropdown > div:first-child > div:nth-child(2) {
  @apply absolute top-0 bottom-0 my-auto z-[20];
}
.glorious-dropdown.open > div:last-child {
  @apply bg-white px-2 py-2 rounded-md shadow absolute z-[41] left-[16px] top-5 flex;
}

.ql-editor {
  direction: rtl;
  text-align: right !important;
}

.drawer {
  @apply fixed top-0 bg-white h-full w-[300px] z-[50];
}
.drawer.close {
  animation: drawer-close 250ms normal forwards;
}
.drawer.open {
  @apply flex;
  animation: drawer-open 100ms normal forwards;
}

@keyframes drawer-open {
  from {
    @apply right-[-300px];
  }
  to {
    @apply right-0;
  }
}
@keyframes drawer-close {
  from {
    @apply right-0;
  }
  to {
    @apply right-[-300px] hidden;
  }
}
.glorious-paginate > div {
  @apply border border-gray-50 rounded-xl h-8 flex items-center px-1 bg-white shadow-md gap-1 w-max;
  direction: rtl;
}
.glorious-paginate > div > div {
  @apply px-2;
}
.glorious-paginate > div > div:last-child {
  @apply rotate-[180deg];
}

.paginate {
  @apply text-[13px];
}
.paginate.active {
  @apply bg-green-500 rounded-lg text-white font-bold text-[13px];
}

.bg-blur {
  @apply fixed top-0 right-0 backdrop-blur-sm bg-gray-500 bg-opacity-50 h-full w-full z-[40];
}

.glorious-flex-col {
  @apply flex-col;
}

.glorious-hidden {
  @apply hidden;
}

.glorious-justify-between {
  @apply justify-between;
}

.glorious-justify-center {
  @apply justify-center;
}

.glorious-align-items-center {
  @apply items-center;
}

.glorious-cursor-pointer {
  @apply cursor-pointer;
}

.glorious-w-10 {
  width: 10px;
}

.glorious-my-3 {
  @apply my-3;
}

/*# sourceMappingURL=style.css.map */
