.glorious-drawer {
  @apply fixed top-0 bg-white h-full w-[300px] z-[50];

  &.close {
    &.right {
      animation: drawer-close-right 250ms normal forwards;
    }
    &.left {
      animation: drawer-close-left 250ms normal forwards;
    }
  }

  &.open {
    @apply flex;
    &.right {
      animation: drawer-open-right 100ms normal forwards;
    }
    &.left {
      animation: drawer-open-left 100ms normal forwards;
    }
  }
}

@keyframes drawer-open-right {
  from {
    @apply right-[-300px];
  }
  to {
    @apply right-0;
  }
}
@keyframes drawer-close-right {
  from {
    @apply right-0;
  }
  to {
    @apply right-[-300px] hidden;
  }
}

@keyframes drawer-open-left {
  from {
    @apply left-[-300px];
  }
  to {
    @apply left-0;
  }
}

@keyframes drawer-close-left {
  from {
    @apply left-0;
  }
  to {
    @apply left-[-300px] hidden;
  }
}
