.glorious-scaffold-drawer {
  &-bg-blur {
    @apply fixed top-0 right-0 backdrop-blur-sm bg-gray-500 bg-opacity-50 h-full w-full z-[40];
  }
}

.drawer {
  @apply fixed top-0 bg-white h-full w-[300px] z-[50];

  &.close {
    &.rtl {
      animation: drawer-close-right 250ms normal forwards;
    }
    &.ltr {
      animation: drawer-close-left 250ms normal forwards;
    }
  }

  &.open {
    @apply flex;
    &.rtl {
      animation: drawer-open-right 100ms normal forwards;
    }
    &.ltr {
      animation: drawer-open-left 100ms normal forwards;
    }
  }
}

@keyframes drawer-open-left {
  from {
    @apply left-[-300px];
  }
  to {
    @apply left-0;
  }
}

@keyframes drawer-open-right {
  from {
    @apply right-[-300px];
  }
  to {
    @apply right-0;
  }
}
@keyframes drawer-close-right {
  from {
    @apply right-0;
  }
  to {
    @apply right-[-300px] hidden;
  }
}
@keyframes drawer-close-left {
  from {
    @apply left-0;
  }
  to {
    @apply left-[-300px] hidden;
  }
}
