.glorious-loading {
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  @apply border-3;
}
.glorious-loading.color-primary {
  @apply border-primary-500;
}
.glorious-loading.color-secondary {
  @apply border-secondary-500;
}
.glorious-loading.color-sky {
  @apply border-sky-500;
}
.glorious-loading.color-gray {
  @apply border-gray-500;
}
.glorious-loading.color-red {
  @apply border-red-500;
}
.glorious-loading.size-sm {
  @apply w-5;
}
.glorious-loading.size-md {
  @apply w-6;
}
.glorious-loading.size-lg {
  @apply w-7;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.glorious-checkbox {
  @apply flex gap-2 items-center cursor-pointer;
}
.glorious-checkbox.size-md span {
  @apply text-sm;
}
.glorious-checkbox.size-sm span {
  @apply text-xs;
}
.glorious-checkbox.disabled {
  @apply cursor-not-allowed;
}
.glorious-checkbox > label {
  @apply block relative;
}
.glorious-checkbox > label > input {
  @apply hidden;
}
.glorious-checkbox > label > input:checked ~ div {
  @apply border-none;
}
.glorious-checkbox > label > input:checked ~ div:after {
  @apply block h-max w-max;
}
.glorious-checkbox > label > input:disabled ~ div {
  @apply cursor-not-allowed;
}
.glorious-checkbox > label > input:hover ~ div {
  @apply border-gray-400 shadow-md;
}
.glorious-checkbox > label > div:last-child {
  @apply border border-gray-300 rounded bg-white left-0 top-0 absolute transition-[border] duration-200 ease-in-out;
}
.glorious-checkbox > label > div:last-child > div:first-child {
  @apply hidden;
}
.glorious-checkbox > label > div:last-child:after {
  @apply absolute hidden top-1 right-0 left-0 bottom-0 m-auto;
}
.glorious-checkbox > label.color-primary > input:checked ~ div {
  @apply bg-primary-500;
}
.glorious-checkbox > label.color-secondary > input:checked ~ div {
  @apply bg-secondary-500;
}
.glorious-checkbox > label.color-sky > input:checked ~ div {
  @apply bg-sky-500;
}
.glorious-checkbox > label.color-gray > input:checked ~ div {
  @apply bg-gray-500;
}
.glorious-checkbox > label.color-red > input:checked ~ div {
  @apply bg-red-500;
}
.glorious-checkbox > label.size-sm {
  @apply w-4 h-4;
}
.glorious-checkbox > label.size-sm > div:last-child {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIxNnB4IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTQwMC0zMDQgMjQwLTQ2NGw1Ni01NiAxMDQgMTA0IDI2NC0yNjQgNTYgNTYtMzIwIDMyMFoiLz48L3N2Zz4=);
  @apply w-4 h-4;
}
.glorious-checkbox > label.size-md {
  @apply w-5 h-5;
}
.glorious-checkbox > label.size-md > div:last-child {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIxOHB4IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTQwMC0zMDQgMjQwLTQ2NGw1Ni01NiAxMDQgMTA0IDI2NC0yNjQgNTYgNTYtMzIwIDMyMFoiLz48L3N2Zz4=);
  @apply w-5 h-5;
}
.glorious-checkbox > label.size-lg {
  @apply w-6 h-6;
}
.glorious-checkbox > label.size-lg > div:last-child {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjJweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyMnB4IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTQwMC0zMDQgMjQwLTQ2NGw1Ni01NiAxMDQgMTA0IDI2NC0yNjQgNTYgNTYtMzIwIDMyMFoiLz48L3N2Zz4=);
  @apply w-6 h-6;
}

.glorious-button > button,
.glorious-button a {
  @apply rounded-lg text-white cursor-pointer px-3 flex gap-2 items-center transition-["background"] duration-300 ease-in-out;
}
.glorious-button > button.raised,
.glorious-button a.raised {
  @apply shadow-md;
}
.glorious-button > button.icon-left,
.glorious-button a.icon-left {
  @apply flex-row-reverse;
}
.glorious-button > button.rounded,
.glorious-button a.rounded {
  @apply rounded-full;
}
.glorious-button > button.size-sm,
.glorious-button a.size-sm {
  @apply py-1 text-sm;
}
.glorious-button > button.size-md,
.glorious-button a.size-md {
  @apply py-1.5 text-base;
}
.glorious-button > button.size-lg,
.glorious-button a.size-lg {
  @apply py-1.5 text-lg;
}
.glorious-button > button.color-primary:not(.outline),
.glorious-button a.color-primary:not(.outline) {
  @apply bg-primary-500;
}
.glorious-button > button.color-primary:not(.outline):hover,
.glorious-button a.color-primary:not(.outline):hover {
  @apply bg-primary-600;
}
.glorious-button > button.color-primary:not(.outline):active,
.glorious-button a.color-primary:not(.outline):active {
  @apply bg-primary-700;
}
.glorious-button > button:disabled.color-primary:not(.outline),
.glorious-button a:disabled.color-primary:not(.outline) {
  @apply bg-primary-200;
}
.glorious-button > button.color-primary.outline,
.glorious-button a.color-primary.outline {
  @apply outline;
  @apply outline-primary-500;
  @apply text-primary-500;
}
.glorious-button > button.color-primary.outline:hover,
.glorious-button a.color-primary.outline:hover {
  @apply bg-primary-100;
}
.glorious-button > button.color-primary.outline:active,
.glorious-button a.color-primary.outline:active {
  @apply bg-primary-200;
}
.glorious-button > button:disabled.color-primary.outline,
.glorious-button a:disabled.color-primary.outline {
  @apply bg-primary-100;
}
.glorious-button > button.color-secondary:not(.outline),
.glorious-button a.color-secondary:not(.outline) {
  @apply bg-secondary-500;
}
.glorious-button > button.color-secondary:not(.outline):hover,
.glorious-button a.color-secondary:not(.outline):hover {
  @apply bg-secondary-600;
}
.glorious-button > button.color-secondary:not(.outline):active,
.glorious-button a.color-secondary:not(.outline):active {
  @apply bg-secondary-700;
}
.glorious-button > button:disabled.color-secondary:not(.outline),
.glorious-button a:disabled.color-secondary:not(.outline) {
  @apply bg-secondary-200;
}
.glorious-button > button.color-secondary.outline,
.glorious-button a.color-secondary.outline {
  @apply outline;
  @apply outline-secondary-500;
  @apply text-secondary-500;
}
.glorious-button > button.color-secondary.outline:hover,
.glorious-button a.color-secondary.outline:hover {
  @apply bg-secondary-100;
}
.glorious-button > button.color-secondary.outline:active,
.glorious-button a.color-secondary.outline:active {
  @apply bg-secondary-200;
}
.glorious-button > button:disabled.color-secondary.outline,
.glorious-button a:disabled.color-secondary.outline {
  @apply bg-secondary-100;
}
.glorious-button > button.color-sky:not(.outline),
.glorious-button a.color-sky:not(.outline) {
  @apply bg-sky-500;
}
.glorious-button > button.color-sky:not(.outline):hover,
.glorious-button a.color-sky:not(.outline):hover {
  @apply bg-sky-600;
}
.glorious-button > button.color-sky:not(.outline):active,
.glorious-button a.color-sky:not(.outline):active {
  @apply bg-sky-700;
}
.glorious-button > button:disabled.color-sky:not(.outline),
.glorious-button a:disabled.color-sky:not(.outline) {
  @apply bg-sky-200;
}
.glorious-button > button.color-sky.outline,
.glorious-button a.color-sky.outline {
  @apply outline;
  @apply outline-sky-500;
  @apply text-sky-500;
}
.glorious-button > button.color-sky.outline:hover,
.glorious-button a.color-sky.outline:hover {
  @apply bg-sky-100;
}
.glorious-button > button.color-sky.outline:active,
.glorious-button a.color-sky.outline:active {
  @apply bg-sky-200;
}
.glorious-button > button:disabled.color-sky.outline,
.glorious-button a:disabled.color-sky.outline {
  @apply bg-sky-100;
}
.glorious-button > button.color-gray:not(.outline),
.glorious-button a.color-gray:not(.outline) {
  @apply bg-gray-500;
}
.glorious-button > button.color-gray:not(.outline):hover,
.glorious-button a.color-gray:not(.outline):hover {
  @apply bg-gray-600;
}
.glorious-button > button.color-gray:not(.outline):active,
.glorious-button a.color-gray:not(.outline):active {
  @apply bg-gray-700;
}
.glorious-button > button:disabled.color-gray:not(.outline),
.glorious-button a:disabled.color-gray:not(.outline) {
  @apply bg-gray-200;
}
.glorious-button > button.color-gray.outline,
.glorious-button a.color-gray.outline {
  @apply outline;
  @apply outline-gray-500;
  @apply text-gray-500;
}
.glorious-button > button.color-gray.outline:hover,
.glorious-button a.color-gray.outline:hover {
  @apply bg-gray-100;
}
.glorious-button > button.color-gray.outline:active,
.glorious-button a.color-gray.outline:active {
  @apply bg-gray-200;
}
.glorious-button > button:disabled.color-gray.outline,
.glorious-button a:disabled.color-gray.outline {
  @apply bg-gray-100;
}
.glorious-button > button.color-red:not(.outline),
.glorious-button a.color-red:not(.outline) {
  @apply bg-red-500;
}
.glorious-button > button.color-red:not(.outline):hover,
.glorious-button a.color-red:not(.outline):hover {
  @apply bg-red-600;
}
.glorious-button > button.color-red:not(.outline):active,
.glorious-button a.color-red:not(.outline):active {
  @apply bg-red-700;
}
.glorious-button > button:disabled.color-red:not(.outline),
.glorious-button a:disabled.color-red:not(.outline) {
  @apply bg-red-200;
}
.glorious-button > button.color-red.outline,
.glorious-button a.color-red.outline {
  @apply outline;
  @apply outline-red-500;
  @apply text-red-500;
}
.glorious-button > button.color-red.outline:hover,
.glorious-button a.color-red.outline:hover {
  @apply bg-red-100;
}
.glorious-button > button.color-red.outline:active,
.glorious-button a.color-red.outline:active {
  @apply bg-red-200;
}
.glorious-button > button:disabled.color-red.outline,
.glorious-button a:disabled.color-red.outline {
  @apply bg-red-100;
}
.glorious-button > button:disabled,
.glorious-button a:disabled {
  @apply cursor-not-allowed;
}

@theme {
  --color-primary-50: #f2fbf3;
  --color-primary-100: #e1f7e4;
  --color-primary-200: #c4eeca;
  --color-primary-300: #96dfa1;
  --color-primary-400: #61c770;
  --color-primary-500: #38a248;
  --color-primary-600: #2c8d3b;
  --color-primary-700: #266f31;
  --color-primary-800: #22592b;
  --color-primary-900: #1e4926;
  --color-primary-950: #0b2811;
  --color-secondary-50: #f2f9f9;
  --color-secondary-100: #ddeef0;
  --color-secondary-200: #bedee3;
  --color-secondary-300: #91c6cf;
  --color-secondary-400: #5da5b3;
  --color-secondary-500: #4896a7;
  --color-secondary-600: #397181;
  --color-secondary-700: #345d6a;
  --color-secondary-800: #314f59;
  --color-secondary-900: #2c434d;
  --color-secondary-950: #192a33;
}

/*# sourceMappingURL=glorious.css.map */
