.glorious-loading {
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  @apply border-3;
}
.glorious-loading.color-primary {
  @apply border-primary-500;
}
.glorious-loading.color-secondary {
  @apply border-secondary-500;
}
.glorious-loading.color-sky {
  @apply border-sky-500;
}
.glorious-loading.color-gray {
  @apply border-gray-500;
}
.glorious-loading.color-red {
  @apply border-red-500;
}
.glorious-loading.size-sm {
  @apply w-5;
}
.glorious-loading.size-md {
  @apply w-6;
}
.glorious-loading.size-lg {
  @apply w-7;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.validation-error-text {
  @apply text-red-500 text-sm font-semibold;
  display: inline-block;
  animation: vibrateErrorTextLR 0.3s ease-in-out 1;
}

@keyframes vibrateErrorTextLR {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.glorious-checkbox {
  @apply flex gap-2 items-center cursor-pointer;
}
.glorious-checkbox.size-md span {
  @apply text-sm;
}
.glorious-checkbox.size-sm span {
  @apply text-xs;
}
.glorious-checkbox.disabled {
  @apply cursor-not-allowed;
}
.glorious-checkbox > label {
  @apply block relative;
}
.glorious-checkbox > label > input {
  @apply hidden;
}
.glorious-checkbox > label > input:checked ~ div {
  @apply border-none;
}
.glorious-checkbox > label > input:checked ~ div:after {
  @apply block h-max w-max;
}
.glorious-checkbox > label > input:disabled ~ div {
  @apply cursor-not-allowed;
}
.glorious-checkbox > label > input:hover ~ div {
  @apply border-gray-400 shadow-md;
}
.glorious-checkbox > label > div:last-child {
  @apply border border-gray-300 rounded bg-white left-0 top-0 absolute transition-[border] duration-200 ease-in-out;
}
.glorious-checkbox > label > div:last-child > div:first-child {
  @apply hidden;
}
.glorious-checkbox > label > div:last-child:after {
  @apply absolute hidden top-1 right-0 left-0 bottom-0 m-auto;
}
.glorious-checkbox > label.color-primary > input:checked ~ div {
  @apply bg-primary-500;
}
.glorious-checkbox > label.color-secondary > input:checked ~ div {
  @apply bg-secondary-500;
}
.glorious-checkbox > label.color-sky > input:checked ~ div {
  @apply bg-sky-500;
}
.glorious-checkbox > label.color-gray > input:checked ~ div {
  @apply bg-gray-500;
}
.glorious-checkbox > label.color-red > input:checked ~ div {
  @apply bg-red-500;
}
.glorious-checkbox > label.size-sm {
  @apply w-4 h-4;
}
.glorious-checkbox > label.size-sm > div:last-child {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIxNnB4IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTQwMC0zMDQgMjQwLTQ2NGw1Ni01NiAxMDQgMTA0IDI2NC0yNjQgNTYgNTYtMzIwIDMyMFoiLz48L3N2Zz4=);
  @apply w-4 h-4;
}
.glorious-checkbox > label.size-md {
  @apply w-5 h-5;
}
.glorious-checkbox > label.size-md > div:last-child {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIxOHB4IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTQwMC0zMDQgMjQwLTQ2NGw1Ni01NiAxMDQgMTA0IDI2NC0yNjQgNTYgNTYtMzIwIDMyMFoiLz48L3N2Zz4=);
  @apply w-5 h-5;
}
.glorious-checkbox > label.size-lg {
  @apply w-6 h-6;
}
.glorious-checkbox > label.size-lg > div:last-child {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjJweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyMnB4IiBmaWxsPSJ3aGl0ZSI+PHBhdGggZD0iTTQwMC0zMDQgMjQwLTQ2NGw1Ni01NiAxMDQgMTA0IDI2NC0yNjQgNTYgNTYtMzIwIDMyMFoiLz48L3N2Zz4=);
  @apply w-6 h-6;
}

.glorious-button > button,
.glorious-button a {
  @apply rounded-lg text-white cursor-pointer px-3 flex gap-2 items-center transition-["background"] duration-300 ease-in-out;
}
.glorious-button > button.raised,
.glorious-button a.raised {
  @apply shadow-md;
}
.glorious-button > button.icon-left,
.glorious-button a.icon-left {
  @apply flex-row-reverse;
}
.glorious-button > button.rounded,
.glorious-button a.rounded {
  @apply rounded-full;
}
.glorious-button > button.size-sm,
.glorious-button a.size-sm {
  @apply py-1 text-sm;
}
.glorious-button > button.size-md,
.glorious-button a.size-md {
  @apply py-1.5 text-base;
}
.glorious-button > button.size-lg,
.glorious-button a.size-lg {
  @apply py-1.5 text-lg;
}
.glorious-button > button.color-primary:not(.outline),
.glorious-button a.color-primary:not(.outline) {
  @apply bg-primary-500;
}
.glorious-button > button.color-primary:not(.outline):hover,
.glorious-button a.color-primary:not(.outline):hover {
  @apply bg-primary-600;
}
.glorious-button > button.color-primary:not(.outline):active,
.glorious-button a.color-primary:not(.outline):active {
  @apply bg-primary-700;
}
.glorious-button > button:disabled.color-primary:not(.outline),
.glorious-button a:disabled.color-primary:not(.outline) {
  @apply bg-primary-200;
}
.glorious-button > button.color-primary.outline,
.glorious-button a.color-primary.outline {
  @apply outline;
  @apply outline-primary-500;
  @apply text-primary-500;
}
.glorious-button > button.color-primary.outline:hover,
.glorious-button a.color-primary.outline:hover {
  @apply bg-primary-100;
}
.glorious-button > button.color-primary.outline:active,
.glorious-button a.color-primary.outline:active {
  @apply bg-primary-200;
}
.glorious-button > button:disabled.color-primary.outline,
.glorious-button a:disabled.color-primary.outline {
  @apply bg-primary-100;
}
.glorious-button > button.color-secondary:not(.outline),
.glorious-button a.color-secondary:not(.outline) {
  @apply bg-secondary-500;
}
.glorious-button > button.color-secondary:not(.outline):hover,
.glorious-button a.color-secondary:not(.outline):hover {
  @apply bg-secondary-600;
}
.glorious-button > button.color-secondary:not(.outline):active,
.glorious-button a.color-secondary:not(.outline):active {
  @apply bg-secondary-700;
}
.glorious-button > button:disabled.color-secondary:not(.outline),
.glorious-button a:disabled.color-secondary:not(.outline) {
  @apply bg-secondary-200;
}
.glorious-button > button.color-secondary.outline,
.glorious-button a.color-secondary.outline {
  @apply outline;
  @apply outline-secondary-500;
  @apply text-secondary-500;
}
.glorious-button > button.color-secondary.outline:hover,
.glorious-button a.color-secondary.outline:hover {
  @apply bg-secondary-100;
}
.glorious-button > button.color-secondary.outline:active,
.glorious-button a.color-secondary.outline:active {
  @apply bg-secondary-200;
}
.glorious-button > button:disabled.color-secondary.outline,
.glorious-button a:disabled.color-secondary.outline {
  @apply bg-secondary-100;
}
.glorious-button > button.color-sky:not(.outline),
.glorious-button a.color-sky:not(.outline) {
  @apply bg-sky-500;
}
.glorious-button > button.color-sky:not(.outline):hover,
.glorious-button a.color-sky:not(.outline):hover {
  @apply bg-sky-600;
}
.glorious-button > button.color-sky:not(.outline):active,
.glorious-button a.color-sky:not(.outline):active {
  @apply bg-sky-700;
}
.glorious-button > button:disabled.color-sky:not(.outline),
.glorious-button a:disabled.color-sky:not(.outline) {
  @apply bg-sky-200;
}
.glorious-button > button.color-sky.outline,
.glorious-button a.color-sky.outline {
  @apply outline;
  @apply outline-sky-500;
  @apply text-sky-500;
}
.glorious-button > button.color-sky.outline:hover,
.glorious-button a.color-sky.outline:hover {
  @apply bg-sky-100;
}
.glorious-button > button.color-sky.outline:active,
.glorious-button a.color-sky.outline:active {
  @apply bg-sky-200;
}
.glorious-button > button:disabled.color-sky.outline,
.glorious-button a:disabled.color-sky.outline {
  @apply bg-sky-100;
}
.glorious-button > button.color-gray:not(.outline),
.glorious-button a.color-gray:not(.outline) {
  @apply bg-gray-500;
}
.glorious-button > button.color-gray:not(.outline):hover,
.glorious-button a.color-gray:not(.outline):hover {
  @apply bg-gray-600;
}
.glorious-button > button.color-gray:not(.outline):active,
.glorious-button a.color-gray:not(.outline):active {
  @apply bg-gray-700;
}
.glorious-button > button:disabled.color-gray:not(.outline),
.glorious-button a:disabled.color-gray:not(.outline) {
  @apply bg-gray-200;
}
.glorious-button > button.color-gray.outline,
.glorious-button a.color-gray.outline {
  @apply outline;
  @apply outline-gray-500;
  @apply text-gray-500;
}
.glorious-button > button.color-gray.outline:hover,
.glorious-button a.color-gray.outline:hover {
  @apply bg-gray-100;
}
.glorious-button > button.color-gray.outline:active,
.glorious-button a.color-gray.outline:active {
  @apply bg-gray-200;
}
.glorious-button > button:disabled.color-gray.outline,
.glorious-button a:disabled.color-gray.outline {
  @apply bg-gray-100;
}
.glorious-button > button.color-red:not(.outline),
.glorious-button a.color-red:not(.outline) {
  @apply bg-red-500;
}
.glorious-button > button.color-red:not(.outline):hover,
.glorious-button a.color-red:not(.outline):hover {
  @apply bg-red-600;
}
.glorious-button > button.color-red:not(.outline):active,
.glorious-button a.color-red:not(.outline):active {
  @apply bg-red-700;
}
.glorious-button > button:disabled.color-red:not(.outline),
.glorious-button a:disabled.color-red:not(.outline) {
  @apply bg-red-200;
}
.glorious-button > button.color-red.outline,
.glorious-button a.color-red.outline {
  @apply outline;
  @apply outline-red-500;
  @apply text-red-500;
}
.glorious-button > button.color-red.outline:hover,
.glorious-button a.color-red.outline:hover {
  @apply bg-red-100;
}
.glorious-button > button.color-red.outline:active,
.glorious-button a.color-red.outline:active {
  @apply bg-red-200;
}
.glorious-button > button:disabled.color-red.outline,
.glorious-button a:disabled.color-red.outline {
  @apply bg-red-100;
}
.glorious-button > button:disabled,
.glorious-button a:disabled {
  @apply cursor-not-allowed;
}

.glorious-input {
  @apply flex flex-col gap-0.5 relative;
}
.glorious-input > .title {
  @apply text-base;
}
.glorious-input > div.input-content {
  @apply relative;
}
.glorious-input > div.input-content > input {
  @apply rounded-lg px-3;
}
.glorious-input > div.input-content > input.size-sm {
  @apply py-0.25;
}
.glorious-input > div.input-content > input.size-md {
  @apply py-1.25;
}
.glorious-input > div.input-content > input.size-lg {
  @apply py-1.75;
}
.glorious-input > div.input-content > input:disabled {
  @apply cursor-not-allowed bg-gray-200;
}
.glorious-input > div.input-content > input:hover.color-primary {
  @apply border-primary-600;
  @apply shadow;
}
.glorious-input > div.input-content > input:hover.color-secondary {
  @apply border-secondary-600;
  @apply shadow;
}
.glorious-input > div.input-content > input:hover.color-sky {
  @apply border-sky-600;
  @apply shadow;
}
.glorious-input > div.input-content > input:hover.color-gray {
  @apply border-gray-600;
  @apply shadow;
}
.glorious-input > div.input-content > input:hover.color-red {
  @apply border-red-600;
  @apply shadow;
}
.glorious-input > div.input-content > input:focus.color-primary {
  @apply outline-primary-500;
}
.glorious-input > div.input-content > input:focus.color-secondary {
  @apply outline-secondary-500;
}
.glorious-input > div.input-content > input:focus.color-sky {
  @apply outline-sky-500;
}
.glorious-input > div.input-content > input:focus.color-gray {
  @apply outline-gray-500;
}
.glorious-input > div.input-content > input:focus.color-red {
  @apply outline-red-500;
}
.glorious-input > div.input-content > input.color-primary {
  @apply border;
  @apply border-primary-500;
}
.glorious-input > div.input-content > input.color-secondary {
  @apply border;
  @apply border-secondary-500;
}
.glorious-input > div.input-content > input.color-sky {
  @apply border;
  @apply border-sky-500;
}
.glorious-input > div.input-content > input.color-gray {
  @apply border;
  @apply border-gray-500;
}
.glorious-input > div.input-content > input.color-red {
  @apply border;
  @apply border-red-500;
}
.glorious-input > div.input-content > input.error {
  @apply border-red-500;
}
.glorious-input > div.input-content > .icon {
  @apply absolute top-0 bottom-0 my-auto h-max px-3 cursor-pointer;
}
.glorious-input > div.input-content > .icon.icon-left {
  @apply left-0;
}
.glorious-input > div.input-content > .icon.icon-left + input.size-sm {
  @apply pl-7.5;
}
.glorious-input > div.input-content > .icon.icon-left + input.size-md {
  @apply pl-9;
}
.glorious-input > div.input-content > .icon.icon-left + input.size-lg {
  @apply pl-8.5;
}
.glorious-input > div.input-content > .icon.icon-right {
  @apply right-0;
}
.glorious-input > div.input-content > .icon.icon-right + input.size-sm {
  @apply pr-7.5;
}
.glorious-input > div.input-content > .icon.icon-right + input.size-md {
  @apply pr-9;
}
.glorious-input > div.input-content > .icon.icon-right + input.size-lg {
  @apply pr-8.5;
}

.glorious-accordion {
  @apply rounded-lg overflow-hidden bg-white shadow transition-[box-shadow] duration-500 will-change-["box-shadow"];
}
.glorious-accordion.open {
  @apply shadow-lg;
}
.glorious-accordion .glorious-accordion-header {
  @apply cursor-pointer px-4 py-5 bg-primary-50 font-semibold flex items-center justify-between transition-[background-color] duration-300;
}
.glorious-accordion .glorious-accordion-header .rotated {
  @apply rotate-180;
}
.glorious-accordion .glorious-accordion-header:hover {
  @apply bg-primary-100;
}
.glorious-accordion .glorious-accordion-body-wrapper {
  @apply overflow-hidden transition-[max-height] duration-300 ease-in-out will-change-[max-height];
}
.glorious-accordion .glorious-accordion-body {
  @apply px-4 py-5 bg-white text-black;
}
.glorious-accordion .g-icon {
  @apply rotate-90 transition duration-300;
}
.glorious-accordion.open .g-icon {
  @apply rotate-270;
}

.glorious-alert {
  @apply flex items-center gap-4 p-4 border-r-4 rounded-2xl shadow-md justify-between;
}
.glorious-alert-title {
  @apply text-lg font-bold mb-1;
}
.glorious-alert-description {
  @apply text-sm;
}
.glorious-alert .icon {
  @apply border shadow-md w-10 h-10 flex justify-center items-center rounded-lg;
}
.glorious-alert.color-primary {
  @apply border-primary-400;
  @apply bg-primary-50;
  @apply text-primary-800;
}
.glorious-alert.color-primary .icon {
  @apply border-primary-400;
}
.glorious-alert.color-secondary {
  @apply border-secondary-400;
  @apply bg-secondary-50;
  @apply text-secondary-800;
}
.glorious-alert.color-secondary .icon {
  @apply border-secondary-400;
}
.glorious-alert.color-sky {
  @apply border-sky-400;
  @apply bg-sky-50;
  @apply text-sky-800;
}
.glorious-alert.color-sky .icon {
  @apply border-sky-400;
}
.glorious-alert.color-gray {
  @apply border-gray-400;
  @apply bg-gray-50;
  @apply text-gray-800;
}
.glorious-alert.color-gray .icon {
  @apply border-gray-400;
}
.glorious-alert.color-red {
  @apply border-red-400;
  @apply bg-red-50;
  @apply text-red-800;
}
.glorious-alert.color-red .icon {
  @apply border-red-400;
}

.glorious-avatar {
  @apply relative inline-block rounded-md overflow-hidden bg-gray-200;
}
.glorious-avatar img {
  @apply w-full h-full object-cover;
}
.glorious-avatar.size-sm {
  @apply w-7 h-7;
}
.glorious-avatar.size-md {
  @apply w-10.5 h-10.5;
}
.glorious-avatar.size-lg {
  @apply w-14 h-14;
}
.glorious-avatar.circle {
  @apply rounded-full;
}

.glorious-radio-button {
  @apply flex items-center cursor-pointer relative gap-2;
}
.glorious-radio-button .radio-input {
  @apply hidden;
}
.glorious-radio-button .radio-select {
  @apply relative rounded-[50%];
  width: 1em;
  height: 1em;
  transition: border-color 0.2s ease;
}
.glorious-radio-button .radio-select::after {
  content: "";
  @apply top-[50%] left-[50%] w-[60%] h-[60%] rounded-[50%] absolute opacity-0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.glorious-radio-button .radio-select.color-primary {
  @apply border-2;
  @apply border-primary-500;
}
.glorious-radio-button .radio-select.color-primary::after {
  @apply bg-primary-500;
}
.glorious-radio-button .radio-select.color-secondary {
  @apply border-2;
  @apply border-secondary-500;
}
.glorious-radio-button .radio-select.color-secondary::after {
  @apply bg-secondary-500;
}
.glorious-radio-button .radio-select.color-sky {
  @apply border-2;
  @apply border-sky-500;
}
.glorious-radio-button .radio-select.color-sky::after {
  @apply bg-sky-500;
}
.glorious-radio-button .radio-select.color-gray {
  @apply border-2;
  @apply border-gray-500;
}
.glorious-radio-button .radio-select.color-gray::after {
  @apply bg-gray-500;
}
.glorious-radio-button .radio-select.color-red {
  @apply border-2;
  @apply border-red-500;
}
.glorious-radio-button .radio-select.color-red::after {
  @apply bg-red-500;
}
.glorious-radio-button input:checked + .radio-select::after {
  @apply opacity-100!;
  transform: translate(-50%, -50%) scale(1.2) !important;
}
.glorious-radio-button input:disabled + .radio-select {
  @apply cursor-not-allowed;
}
.glorious-radio-button input:disabled + .radio-select.color-primary {
  @apply border-2;
  @apply border-primary-200;
}
.glorious-radio-button input:disabled + .radio-select.color-primary::after {
  @apply bg-primary-200;
}
.glorious-radio-button input:disabled + .radio-select.color-secondary {
  @apply border-2;
  @apply border-secondary-200;
}
.glorious-radio-button input:disabled + .radio-select.color-secondary::after {
  @apply bg-secondary-200;
}
.glorious-radio-button input:disabled + .radio-select.color-sky {
  @apply border-2;
  @apply border-sky-200;
}
.glorious-radio-button input:disabled + .radio-select.color-sky::after {
  @apply bg-sky-200;
}
.glorious-radio-button input:disabled + .radio-select.color-gray {
  @apply border-2;
  @apply border-gray-200;
}
.glorious-radio-button input:disabled + .radio-select.color-gray::after {
  @apply bg-gray-200;
}
.glorious-radio-button input:disabled + .radio-select.color-red {
  @apply border-2;
  @apply border-red-200;
}
.glorious-radio-button input:disabled + .radio-select.color-red::after {
  @apply bg-red-200;
}
.glorious-radio-button.size-sm {
  @apply text-base;
}
.glorious-radio-button.size-md {
  @apply text-lg;
}
.glorious-radio-button.size-lg {
  @apply text-xl;
}

@theme {
  --color-primary-50: #f2fbf3;
  --color-primary-100: #e1f7e4;
  --color-primary-200: #c4eeca;
  --color-primary-300: #96dfa1;
  --color-primary-400: #61c770;
  --color-primary-500: #38a248;
  --color-primary-600: #2c8d3b;
  --color-primary-700: #266f31;
  --color-primary-800: #22592b;
  --color-primary-900: #1e4926;
  --color-primary-950: #0b2811;
  --color-secondary-50: #f2f9f9;
  --color-secondary-100: #ddeef0;
  --color-secondary-200: #bedee3;
  --color-secondary-300: #91c6cf;
  --color-secondary-400: #5da5b3;
  --color-secondary-500: #4896a7;
  --color-secondary-600: #397181;
  --color-secondary-700: #345d6a;
  --color-secondary-800: #314f59;
  --color-secondary-900: #2c434d;
  --color-secondary-950: #192a33;
}

/*# sourceMappingURL=glorious.css.map */
