@use 'components/checkbox.scss';

@theme {
  --color-primary-50: #f2fbf3;
  --color-primary-100: #e1f7e4;
  --color-primary-200: #c4eeca;
  --color-primary-300: #96dfa1;
  --color-primary-400: #61c770;
  --color-primary-500: #38a248;
  --color-primary-600: #2c8d3b;
  --color-primary-700: #266f31;
  --color-primary-800: #22592b;
  --color-primary-900: #1e4926;
  --color-primary-950: #0b2811;
  --color-secondary-50: #f2f9f9;
  --color-secondary-100: #ddeef0;
  --color-secondary-200: #bedee3;
  --color-secondary-300: #91c6cf;
  --color-secondary-400: #5da5b3;
  --color-secondary-500: #4896a7;
  --color-secondary-600: #397181;
  --color-secondary-700: #345d6a;
  --color-secondary-800: #314f59;
  --color-secondary-900: #2c434d;
  --color-secondary-950: #192a33;
}
