$colors: 'primary', 'secondary', sky, gray, red;
$pSize: (
  'xl': '2.5',
  'lg': '2',
  'md': '1.5',
  'sm': '1',
  'xs': '0.5',
);
$sizes: (
  '5xl': 54,
  '4xl': 50,
  '3xl': 46,
  '2xl': 42,
  'xl': 38,
  'lg': 32,
  'md': 28,
  'sm': 24,
  'xs': 20,
);
