@use '../variable.scss' as var;

%select-size {
  &.xl {
    @apply py-[0.657rem];
  }
  &.lg {
    @apply py-[0.532rem];
  }
  &.md {
    @apply py-[0.407rem];
  }
  &.sm {
    @apply py-[0.282rem];
  }
  &.xsm {
    @apply py-[0.157rem];
  }
}

%focus {
  &:focus-visible {
    @apply outline-none ring-2;
  }
}

@each $color in var.$colors {
  .#{'color-' + $color} {
    @apply #{'ring-'+$color+'-500'};
  }
}

.glorious-select {
  @apply rounded-md ring-1 px-3 text-gray-500 text-sm;
  @extend %select-size, %focus;

  &:disabled {
    @apply cursor-not-allowed;
  }
}
