.glorious-scaffold-modal {
    @apply fixed bg-white md:top-[15%] z-50 right-0 left-0 mx-auto p-3 md:rounded-md rounded-t-md md:bottom-0 bottom-0 overflow-y-auto;
    .close-modal-btn {
        @apply flex justify-center items-center w-6 h-6;
    }
    &-header {
        @apply flex justify-between items-center;
    }

    &-footer {
        @apply flex justify-center gap-3 mt-3;
        > button {
            @apply min-w-24;
        }
    }

    div.glorious-input-options {
        @apply fixed;
    }

    &-bg-blur {
        @apply fixed top-0 right-0 backdrop-blur-sm bg-gray-500 opacity-50 h-full w-full z-[40];
    }

    &.size-full {
        @apply w-full h-full top-0 rounded-none;
    }

    &.size-xl {
        @apply md:w-[70%] w-full md:h-max max-h-[calc(100%-15%)];
    }

    &.size-lg {
        @apply md:w-[60%] w-full md:h-max max-h-[calc(100%-15%)];
    }

    &.size-md {
        @apply md:w-[50%] w-full md:h-max max-h-[calc(100%-15%)];
    }

    &.size-sm {
        @apply lg:w-[25%] md:w-[35%] w-full md:h-max max-h-[calc(100%-15%)];
    }

    &.close {
        @apply hidden;
    }

    &.open.animation {
        animation: animationMobile 0.3s normal forwards;
        @screen md {
            animation: animationOpacity 0.3s normal forwards;
        }
    }

    @keyframes animationOpacity {
        0% {
            transform: scale(0.1);
            opacity: 0;
        }
        99% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: unset;
            opacity: 1;
        }
    }
    @keyframes animationMobile {
        0% {
            transform: translateY(100%);
        }

        99% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }
}
